
.button{
  border-radius: 20px;
  padding: 0.9rem 2.9rem;
  background: none;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;

  &_primary{
    padding: 0.9rem 2.9rem;
    background: #FF0000;
    color: #FFFFFF;
  }

  &_secondary{
    padding: 0.9rem 2.9rem;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: border;

    &:hover{
      border: 2px solid #FFF;
    }
  }
}


