// Colors
$white-color: #fff;
$black-color: #000;
$red-color: #f55d45;
$button-color: #6956d6;
$background-color: #ffdada;
$coral-color: #f00;
$text-color: #3d3d3d;

// Gradients
$purple-to-white-gradient: linear-gradient(360deg, #beb2ff 0%, #6956d6 100%);
